{% extends 'base.html' %}

{% block content %}
<h1 class="center-align">ยินดีต้อนรับ</h1>
<div class="card white">
    <div class="card-content">
        <span class="card-title center-align">ลิงค์ m3u</span>
        <p id="m3u-link" >{{ m3u_link }}</p>
    </div>
</div>

<div class="container">
    <table class="highlight">
        <thead>
            <tr>
                <th></th>
                <th class="center-align">ช่อง</th>
                <th class="center-align">Status</th>
            </tr>
        </thead>

        <tbody>
            {% for ch in channels %}
            <tr>
                <td class="center-align"><img class="ch-icon" src="{{ch.logo}}" alt=""></td>
                <td>{{ch.channel}} · <a href="/edit/{{ch.id}}"><i class="far fa-edit"></i></a> <a href="/delete/{{ch.id}}"><i class="far fa-trash-alt red-text"></i></a></td>
                {% if ch.status == 'Alive' %}
                    <td class="alive">{{ch.status}}</td>
                {% else %}
                    <td class="dead">{{ch.status}}</td>
                {% endif %}
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="/add">+ เพิ่มช่อง</a>
</div>
{% endblock %}